---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import '../styles/app.css'

import type { SiteMeta } from '@/types'
import { siteConfig } from '@/site-config'

type Props = SiteMeta

const { articleDate, description, ogImage, title, canonicalUrl } = Astro.props

const posthogKey = import.meta.env.PUBLIC_POSTHOG_KEY || ''
const posthogHost = import.meta.env.PUBLIC_POSTHOG_HOST || 'https://api-v2.eeshans.com'

const titleSeparator = '•'
const siteTitle = `${title} ${titleSeparator} ${siteConfig.title}`
const canonicalURL = canonicalUrl || new URL(Astro.url.pathname, Astro.site).href
const socialImageURL = new URL(ogImage ? ogImage : '/social-card.png', Astro.url).href
---

<meta charset='utf-8' />
<meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
<meta content='IE=edge' http-equiv='X-UA-Compatible' />
<title>{siteTitle}</title>

{/* Icons / Favicon */}
<!-- <link href="favicon/favicon.ico" rel="icon" sizes="any" />
<link href="favicon/icon.svg" rel="icon" type="image/svg+xml" />
<link href="/apple-touch-icon.png" rel="apple-touch-icon" />
<link href="/manifest.webmanifest" rel="manifest" /> -->

<link rel='apple-touch-icon' sizes='180x180' href='/shared-assets/favicon/apple-touch-icon.png' />
<link rel='icon' type='image/png' sizes='32x32' href='/shared-assets/favicon/favicon-32x32.png' />
<link rel='icon' type='image/png' sizes='16x16' href='/shared-assets/favicon/favicon-16x16.png' />
<link rel='manifest' href='/shared-assets/favicon/site.webmanifest' />

{/* Font preloads */}
<!-- <link rel='preload' href='/fonts/Satoshi-Variable.ttf' as='font' type='font/ttf' crossorigin /> -->

{/* RSS auto-discovery */}
<link href='/rss.xml' rel='alternate' title={siteConfig.title} type='application/rss+xml' />

<meta content={Astro.generator} name='generator' />

{/* SEO */}
<link rel='canonical' href={canonicalURL} />
<meta name='description' content={description} />

{/* Open Graph */}
<meta property='og:title' content={siteTitle} />
<meta property='og:description' content={description} />
<meta property='og:url' content={canonicalURL} />
<meta property='og:site_name' content={siteConfig.title} />
<meta property='og:locale' content={siteConfig.ogLocale} />
<meta property='og:type' content={articleDate ? 'article' : 'website'} />
<meta property='og:image' content={socialImageURL} />
{articleDate && <meta property='article:published_time' content={articleDate} />}

{/* Twitter */}
<meta name='twitter:card' content='summary_large_image' />
<meta name='twitter:title' content={siteTitle} />
<meta name='twitter:description' content={description} />
<meta name='twitter:image' content={socialImageURL} />

<!-- PostHog Analytics (single clean snippet) -->
{posthogKey && (
<script is:inline define:vars={{ posthogKey, posthogHost }}>
// PostHog snippet adapted for reverse proxy (uses env-provided host)
!function(t,e){var o,n,p,r;e.__SV||(window.posthog&&window.posthog.__loaded)||(window.posthog=e,e._i=[],e.init=function(i,s,a){function g(t,e){var o=e.split('.');2==o.length&&(t=t[o[0]],e=o[1]),t[e]=function(){t.push([e].concat(Array.prototype.slice.call(arguments,0)))}}(p=t.createElement('script')).type='text/javascript',p.crossOrigin='anonymous',p.async=!0,p.src=s.api_host+'/static/array.js',(r=t.getElementsByTagName('script')[0]).parentNode.insertBefore(p,r);var u=e;for(void 0!==a?u=e[a]=[]:a='posthog',u.people=u.people||[],u.toString=function(t){var e='posthog';return'posthog'!==a&&(e+='.'+a),t||(e+=' (stub)'),e},u.people.toString=function(){return u.toString(1)+'.people (stub)'},o='init capture identify alias register register_once unregister opt_out_capturing has_opted_out_capturing opt_in_capturing reset isFeatureEnabled onFeatureFlags getFeatureFlag getFeatureFlagPayload reloadFeatureFlags group updateEarlyAccessFeatureEnrollment getEarlyAccessFeatures getActiveMatchingSurveys getSurveys getNextSurveyStep onSessionId'.split(' '),n=0;n<o.length;n++)g(u,o[n]);e._i.push([i,s,a])},e.__SV=1)}(document,window.posthog||[]);
posthog.init(posthogKey, {
	api_host: posthogHost,
	ui_host: 'https://us.posthog.com',
	defaults: '2025-05-24',
	person_profiles: 'identified_only',
	loaded: function(posthog_instance) {
		window.__posthogReady = true;
	}
});
</script>
)}
{!posthogKey && (<script is:inline>console.warn('PostHog key missing: analytics disabled');</script>)}
